gem "k3_core",          :path => '/home/tyler/dev/framework/k3_core'
gem "k3_pages",         :path => '/home/tyler/dev/framework/k3_pages'
gem "k3_ribbon",        :path => '/home/tyler/dev/framework/k3_ribbon'
gem "k3_inline_editor", :path => '/home/tyler/dev/framework/k3_inline_editor'

